/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 450px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 450px;
  background-color: #303C42;
}

/* Custom page CSS
-------------------------------------------------- */
body {
	font-family: Gotham, "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
	margin-top: 200px;
}


h1 {
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 1em;
	font-family: Gotham;
}

h1:first-of-type {
	margin-bottom: 0em;
}

h1:last-of-type {
	margin-top: 10px;
}

h2 {
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 1em;
	font-family: Gotham;
}
	
h3 {
	font-size: 20px;
	line-height: 36px;
	font-family: Gotham;
}

p { 
	font-family: Whitney, "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
	font-size: 16px;
	line-height: 24px;
}

ul {
	font-family: Whitney, "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}	

.divider {
	font-family: Gotham;
	border-bottom: 1px solid #F38A00;
	color: #F38A00;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: .5em;
	margin-bottom: 40px;
	margin-top: 0px;
	padding-left: 0em;
}

.content-block {
	padding-left: 0px;
	padding-right: 0px;
}

.detail-block { 
	padding-left: 0px;
	padding-right: 0px;
}

.register-block {
	margin-bottom: 3em;
}

.col-md-6 {
	padding-left: 0px;
}

.course {
	background-color: #f1f2f4;
	padding: 20px;
	padding-top: 120px;
	margin-bottom: 150px;
	position: relative;
}

.course:first-of-type {
	margin-top: 150px;
}

.course:last-of-type {
	margin-bottom: 0px;
}
	
.course h2 {
	margin-top: 10px;
}
	
.course-description p:last-of-type {
	margin-bottom: 0px;
}
	
.extended-description p:first-of-type {
	margin-top: 1em;
}
	
.course .btn {
	margin-bottom: 10px;
	margin-top: 30px;
}

.course img { 
	display: block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 1;
	top: -100px;
	width: 30%;
	height: auto;
	min-width: 200px;
	max-width: 250px;
}

.yourEducator {
	display: none;
}

.detail-block {
	margin-bottom: 5em;
}

.detail-block:last-of-type {
	margin-bottom: 0px;
}
	
footer .btn {
	background-color: #418fde;
}

.btn {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #418fde;
	border-radius: 0px;
}

.register-button-block .btn {
	margin-top: 0px;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}

.bold {
	font-weight: 700;
}

.blue {
	color: #3172AE;
}

.orange {
	color: #F38A00;
}

.white {
	color: #FFFFFF;
}

.bottomSpace {
	margin-bottom: 1.5em;
}

.content-block:last-of-type {
	padding-bottom: 50px;
}

.row {
	margin-bottom: 40px;
}

.row:first-of-type {
	padding-top: 20px;
}

.row:last-of-type {
	margin-bottom: 0px;
}

.col-sm-6 {
	padding: 0px;
	vertical-align: middle;
}

.col-sm-6 .btn {
	margin-top: 0px;
}

.instructor {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #97AAC6;
	padding: 10px;
	text-align: center;
}

.yourEducator {
	color: #ffffff;
	background-color: #97AAC6;
	font-weight: 700;
	text-transform: uppercase;
}

.round {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
	
.rectangle {
	width: 100%;
} 

/* Accordion */
#accordion {
	padding-top: 15px;
}

.panel-group .panel + .panel {
	margin-top: 30px;
}

.panel-default {
	border: none;
}

.panel-default > .panel-heading {
	background-color: #97aac6;
}

.panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.panel-heading > h3 {
	line-height: 30px;
	margin: 0px;
}

.panel-body {
	background-color: #f3f4f8;
	border-top: 0px;
	margin-bottom: 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel-body > h3 {
	margin-top: 0px;
}

.panel-body > p:last-of-type {
	margin-bottom: 0px;
}

/* Nav */
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #3172AE;
	border: none;
}

.navbar-inverse .navbar-collapse {
	border: none;
}

.navbar-inverse .navbar-collapse .navbar-form {
	border: none;
}

.navbar-custom {
	background-color: #3172AE;
	border: none;
	padding: 20px;
}

.navbar-custom #navbar li a {
	color: #ffffff;
	font-size: 18px;
}

.navbar-custom #navbar li a:hover {
	color: #cfd8dc;
}

.navbar-custom #navbar li a:hover {
	color: #cfd8dc;
}

.navbar-custom #navbar li.active a {
	background: #346094;
}

.navbar-custom #navbar li:last-of-type {
	margin-right: 15px;
}

.navbar-brand {
	width: 100%;
	height: auto;
}

.navbar-right {
	margin-top: 20px;
}

/* Footer */
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#3172AE;
}

footer li {
	color: #ffffff;
}

.footer {
	text-align: center;
	padding: 40px 0px;
	background-color: #3172AE;
}

footer p {
	color: #cfd8dc;
	font-size: 14px;
}

footer h3 {
	color: #ffffff;
	font-size: 20px;
}

footer a {
	color: #cfd8dc;
}

footer a:hover, footer a:active {
	color: #ffffff;
	text-decoration: none;
}

footer ul {
	list-style: none;
	padding: 0px;
}

footer img {
	width: 80%;
	margin-top: 50px;
}

.footer h3, .footer li {
	text-align: left;
}

.footer h3 {
	margin-top: 60px;
	margin-left: 40px;
	margin-right: 40px;
}
	
.footer li {
	margin-left: 40px;
	margin-right: 40px;
}

/* Custom Buttons */
.btn-blue { 
  color: #ffffff; 
  background-color: #3172AE; 
  border: none; 
  font-size: 20px;
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #ffffff; 
  background-color: #0E5CAB; 
  border: none; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #418FDE; 
  border: none; 
} 
 
.btn-blue .badge { 
  color: #418FDE; 
  background-color: #ffffff; 
}


/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/* HERO */
.intro {
	text-align: center;
	padding: 0px;
	padding-bottom: 40px;
}
	
.intro img {
	width: 80%;
	height: auto%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-bottom: 30px;
	margin-top: 0px;
}
	
.large {
	font-size: 36px;
	line-height: 36px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: 700;
}
	
.medium {
	font-size: 27px;
	line-height: 36px;
	margin-bottom: 0x;
	margin-top: 0em;
}

.intro h2 {
	margin-top: 0em;
	font-size: 20px;
	line-height: 28px;
}
	
.intro p {
	margin-top: 0px;
	line-height: 26px;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.navbar-brand {
		width: 50%;
		height: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		margin-top: 180px;
	}
	
	.divider {
		padding-left: 40px;
	}
	
	.content-block {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.intro {
		padding: 40px;
	}
	
	.intro img {
		width: 60%;
		margin-top: 30px;
		margin-bottom: 0px;
	}
	
	/* HERO */
	.large {
		font-size: 80px;
		line-height: 80px;
		font-weight: 700;
	}
	
	.medium {
		font-size: 60px;
		line-height: 80px;
		margin-bottom: 0px;
	}
	
	.intro h2 {
		margin-top: 2em;
	}
	
	.navbar-brand {
		width: 50%;
		height: auto;
	}
	
	.divider {
		margin-top: 40px;
	}
	
	.course:first-of-type {
		margin-top: 60px;
	}
	
	.course {
		background-color: #f1f2f4;
		padding: 30px;
		margin-bottom: 60px;
		position: relative;
	}
	
	.course:last-of-type {
		margin-bottom: 0px;
	}
	
	.course h2 {
		margin-top: 0px;
	}
	
	.course-description p:last-of-type {
		margin-bottom: 0px;
	}
	
	.extended-description p:first-of-type {
		margin-top: 1em;
	}
	
	.course .btn {
		margin-bottom: 0px;
		margin-top: 30px;
	}
	
	.course img {
		display: block;
		position: absolute;
		right: -20px;
		top: -40px;
		left: auto;
		z-index: 1;
		width: 10%;
		height: auto;
		min-width: 150px;
		max-width:230px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.long {
		padding-right: 100px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.long {
		padding-right: 0px;
	}
	
	body {
		margin-bottom: 300px;
		margin-top: 150px;
	}
	
	#accordion {
		padding-top: 30px;
	}
	
	.navbar-brand {
		width: 60%;
		height: auto;
		margin-left: 15px;
		padding-top: 0px;
		margin-top: 15px;
	}
	
	.divider {
		font-size: 16px;
		padding-bottom: 1em;
		margin-bottom: 80px;
		margin-top: 80px;
		padding-left: 50px;
	}

	.content-block {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.detail-block {
		padding-left: 0px;
		padding-right: 30px;
	}
	
	.detail-block img {
		padding-bottom: 15px;
		margin-bottom: 0px;
	}
	
	.row:first-of-type {
		padding-top: 40px;
	}
	
	.bottomSpace {
		margin-bottom: 2em;
	}
	
	h1:first-of-type {
		margin-bottom: 0px;
	}
	
	/* Hero */
	.intro {
		text-align: center;
		padding: 60px;
	}
	
	.intro img {
		display: inline-block;
		width: 200px;
		height: auto;
		margin-top: 0px;
		margin-bottom: 30px;
	}
	
	.large {
		font-size: 100px;
		line-height: 100px;
		font-weight: 700;
		margin-top: 0.25em;
		text-align: center;
		margin-bottom: 0em;
	}
	
	.medium {
		font-size: 80px;
		text-align: center;
		margin-bottom: 40px;
	}
	
	.intro h2 {
		font-size: 30px;
		line-height: 48px;
		margin-top: 0px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.intro p {
		font-size: 24px;
		line-height: 34px;
	}

	.btn {
		margin-top: 20px;
		width: 280px;
	}
	
	.detail-block, .register-block {
		margin-bottom: 0em;
	}

	h1 {
		font-size: 48px;
		line-height: 50px;
		margin-bottom: 50px;
		text-align: left;
	}

	h2 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 1em;
	}
	
	h3 {
		font-size: 24px;
		line-height: 36px;
	}
	
	p {
		font-size: 20px;
		line-height: 38px;
	}
	
	ul {
		font-size: 20px;
		line-height: 38px;
	}
	
	.round {
		width: 183px;
		height: 183px;
	}
	
	.col-sm-10 h2 {
		margin-top: 0px;
	}
	
	.footer {
		height: 300px;
	}
	
	.course:first-of-type {
		margin-top: 120px;
	}
	
	.course {
		margin-bottom: 10em;
		position: relative;
		padding: 60px;
		padding-right: 600px;
	}
	
	.extraSpace {
		margin-bottom: 13em;
	}
	
	.course:last-of-type {
		margin-bottom: 0px;
	}
	
	.course img {
		display: block;
		position: absolute;
		right: 190px;
		top:-80px;
		z-index: 1;
		width: 15%;
		height: auto;
		min-width: 200px;
		max-width:230px;
	}
	
	.course-instructor {
		margin-top: 60px;
		margin-bottom: 30px;
		padding: 0px;
		text-align: left;
		background-color: #ffffff;
		position: absolute;
		right: 100px;
		top: 120px;
		z-index: 1;
		box-shadow: 10px 10px 5px #999999;
		width: 400px;
	}
	
	.yourEducator {
		display: block;
		padding: 15px;
		padding-left: 30px;
	}
	
	.educatorBio {
		padding: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.educatorBio p {
		font-size: 16px;
		line-height: 24px;
	}
	
	.panel-heading {
		padding: 20px;
	}

	.panel-body {
		padding: 20px;
	}
}

@media only screen and (min-width:1900px) {	
	.course:first-of-type {
		margin-top: 100px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		margin-bottom: 400px;
	}
	
	footer {
		height: 400px;
	}
}

@media print {
}
