/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 450px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 450px;
  background-color: #303C42;
}

/* Custom page CSS
-------------------------------------------------- */
body {
	font-family: "Gotham A", "Gotham B", Gotham, Helvetica, Arial, sans-serif;
	margin-top: 110px;
}


h1 {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 1em;
	font-family: "Gotham A", "Gotham B", Gotham, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}

h1:first-of-type {
	margin-bottom: 0em;
}

h1:last-of-type {
	margin-top: 10px;
	margin-bottom: 2em;
}

h2 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 1em;
	font-family: "Gotham A", "Gotham B", Gotham, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}
	
h3 {
	font-size: 20px;
	line-height: 30px;
	font-family: "Gotham A", "Gotham B", Gotham, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}

p { 
	font-family: "Whitney A", "Whitney B", Whitney, Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
	font-size: 16px;
	line-height: 24px;
}

ul {
	font-family: "Whitney A", "Whitney B", Whitney, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

ul + p {
	margin-top: 1em;
}

.divider {
	font-family: "Gotham A", "Gotham B", Gotham, Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #F38A00;
	color: #F38A00;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: .5em;
	margin-bottom: 40px;
	margin-top: 0px;
	padding-left: 0em;
}

.content-block {
	padding-left: 0px;
	padding-right: 0px;
}

.detail-block { 
	padding-left: 0px;
	padding-right: 0px;
}

.register-block {
	margin-bottom: 3em;
}

.col-md-6 {
	padding-left: 0px;
}

.course {
	background-color: #F1F2F4;
	padding: 20px;
	margin-bottom: 40px;
}

.course:first-of-type {
	margin-top: 20px;
}

.course:last-of-type {
	margin-bottom: 0px;
}
	
.course h2 {
	margin-top: 10px;
}
	
.course-description p:last-of-type {
	margin-bottom: 0px;
}
	
.extended-description p:first-of-type {
	margin-top: 1em;
}
	
.course .btn {
	margin-bottom: 10px;
	margin-top: 30px;
}

.course img { 
	display: none;
}

.yourEducator {
	display: none;
}

.detail-block {
	margin-bottom: 2em;
}

.detail-block:last-of-type {
	margin-bottom: 0px;
}
	
footer .btn {
	background-color: #418fde;
}

.btn {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #418fde;
	border-radius: 0px;
}

.register-button-block .btn {
	margin-top: 0px;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}

.bold {
	font-weight: 700;
}

.blue {
	color: #3172AE;
}

.orange {
	color: #F38A00;
}

.white {
	color: #FFFFFF;
}

.bottomSpace {
	margin-bottom: 1.5em;
}

.content-block:last-of-type {
	padding-bottom: 50px;
}

.row {
	margin-bottom: 40px;
}

.row:first-of-type {
	padding-top: 20px;
}

.row:last-of-type {
	margin-bottom: 0px;
}

.col-sm-6 {
	padding: 0px;
	vertical-align: middle;
}

.col-sm-6 .btn {
	margin-top: 0px;
}

.instructor {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #97AAC6;
	padding: 10px;
	text-align: center;
}

.yourEducator {
	color: #ffffff;
	background-color: #97AAC6;
	font-weight: 700;
	text-transform: uppercase;
}

.round {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
	
.rectangle {
	width: 100%;
} 

/* Accordion */
#accordion {
	padding-top: 15px;
}

.panel-group .panel + .panel {
	margin-top: 30px;
}

.panel-default {
	border: none;
}

.panel-default > .panel-heading {
	background-color: #97aac6;
}

.panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: pointer;
}

.panel-heading > h3 {
	line-height: 30px;
	margin: 0px;
}

.panel-body {
	background-color: #F1F2F4;
	border-top: 0px;
	margin-bottom: 30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel-body > h3 {
	margin-top: 0px;
}

.panel-body > p:last-of-type {
	margin-bottom: 0px;
}

/* Nav */
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #2A5C89;
	border: 4px solid #2A5C89;
	border-radius: 0px;
}

.navbar-inverse .navbar-collapse {
	border: none;
}

.navbar-custom {
	background-color: #3172AE;
	border: none;
	padding: 10px;
}

.navbar-custom #navbar li a {
	color: #ffffff;
	font-size: 18px;
	line-height: 45px;
	border-bottom: 1px solid transparent;
}

.navbar-custom #navbar li a:hover {
	color: #cfd8dc;
}

.navbar-custom #navbar li a:hover {
	color: #cfd8dc;
}

.navbar-custom #navbar li.active a {
	background: #346094;
}

.navbar-custom #navbar li:last-of-type {
	margin-right: 15px;
}

.navbar-brand {
	width: 60%;
	height: auto;
	min-width: 150px;
	max-width: 200px;
}

.navbar-right {
	margin-top: 0px;
}

/* Footer */
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#3172AE;
}

footer li {
	color: #ffffff;
}

.footer {
	text-align: center;
	padding-top: 40px;
	padding-top: 40px;
	background-color: #3172AE;
}

footer h3 {
	color: #ffffff;
	font-size: 20px;
}

footer a {
	color: #cfd8dc;
}

footer a:hover, footer a:active {
	color: #ffffff;
	text-decoration: none;
}

footer ul {
	list-style: none;
	padding: 0px;
}

footer img {
	width: 90%;
	margin-top: 50px;
}

.footer h3, .footer li {
	text-align: left;
}

.footer h3 {
	margin-top: 60px;
	margin-left: 40px;
	margin-right: 40px;
}
	
.footer li {
	margin-left: 40px;
	margin-right: 40px;
}

/* Custom Buttons */
.btn-blue { 
  color: #ffffff; 
  background-color: #3172AE; 
  border: none; 
  font-size: 18px;
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #ffffff; 
  background-color: #0E5CAB; 
  border: none; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #418FDE; 
  border: none; 
} 
 
.btn-blue .badge { 
  color: #418FDE; 
  background-color: #ffffff; 
}


/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/* HERO */
.intro {
	text-align: center;
	padding: 0px;
	padding-bottom: 40px;
}
	
.intro img {
	width: 40%;
	height: auto;
	min-width: 200px;
	max-width: 200px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-bottom: 30px;
	margin-top: 0px;
}

.large {
	font-size: 36px;
	line-height: 36px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: 700;
}
	
.medium {
	font-size: 27px;
	line-height: 36px;
	margin-bottom: 0x;
	margin-top: 0em;
}

.intro h2 {
	margin-top: 0em;
	font-size: 20px;
	line-height: 28px;
}
	
.intro p {
	margin-top: 0px;
	line-height: 26px;
}

.rotate {
	position: relative;
}

/* Spinning arrow on intro panel */
#arrow {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	height: auto;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
	-webkit-animation:spin 1s ease-in-out;
	-moz-animation:spin 1s ease-in-out;
	animation:spin 1s ease-in-out;
}
	
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.navbar-brand {
		width: 50%;
		height: auto;
		max-width: 200px;
	}
}

/* change navbar collapse breakpoint to include tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		margin-top: 100px;
	}
	
	h1 {
		font-size: 30px;
		line-height: 50px;
		margin-bottom: 50px;
	}

	h2 {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 1em;
	}
	
	h3 {
		font-size: 22px;
		line-height: 36px;
	}
	
	p {
		font-size: 18px;
		line-height: 30px;
	}
	
	ul {
		font-size: 18px;
		line-height: 30px;
	}
	
	footer ul {
		font-size: 18px;
	}

	.divider {
		padding-left: 40px;
	}
	
	.content-block {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.intro {
		padding: 40px;
	}
	
	.intro img {
		width: 150px;
		min-width: 150px;
		height: auto;
		margin-top: 0px;
		margin-bottom: 40px;
	}
	
	/* HERO */
	.large {
		font-size: 80px;
		line-height: 80px;
		font-weight: 700;
	}
	
	.medium {
		font-size: 60px;
		line-height: 80px;
		margin-bottom: 0px;
	}
	
	.intro h1:last-of-type {
		margin-bottom: .35em;
	}
	
	.intro h2 {
		margin-top: 0em;
		margin-left: 0px;
		margin-right: 0px;
		font-size: 30px;
		line-height: 46px;
	}
	
	#arrow {
		width: 80px;
		min-width: 80px;
		top: 35px;
	}
	
	.navbar-brand {
		width: 25%;
		height: auto;
		max-width: 400px;
	}
	
	.divider {
		margin-top: 40px;
	}
	
	.course:first-of-type {
		margin-top: 60px;
	}
	
	.course {
		background-color: #f1f2f4;
		padding: 30px;
		margin-bottom: 60px;
		position: relative;
	}
	
	.course:last-of-type {
		margin-bottom: 0px;
	}
	
	.course h2 {
		margin-top: 0px;
		margin-right: 80px;
	}
	
	.course-description p:last-of-type {
		margin-bottom: 0px;
	}
	
	.extended-description p:first-of-type {
		margin-top: 1em;
	}
	
	.course .btn {
		margin-bottom: 0px;
		margin-top: 30px;
	}
	
	.course img {
		display: block;
		position: absolute;
		right: -20px;
		top: -40px;
		left: auto;
		z-index: 1;
		width: 10%;
		height: auto;
		min-width: 150px;
		max-width:230px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.long {
		padding-right: 100px;
	}
	
	.footer { 
		height: 400px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.btn-blue {
		font-size: 20px;
	}
	
	.long {
		padding-right: 0px;
	}
	
	body {
		margin-bottom: 300px;
		margin-top: 80px;
	}
	
	.navbar-custom #navbar li a {
		border-bottom: 0px;
	}
	
	#accordion {
		padding-top: 30px;
	}
	
	.navbar-brand {
		width: 60%;
		height: auto;
		margin-left: 15px;
		padding-top: 0px;
		margin-top: 15px;
	}
	
	.divider {
		font-size: 16px;
		padding-bottom: 1em;
		margin-bottom: 80px;
		margin-top: 80px;
		padding-left: 50px;
	}

	.content-block {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.detail-block {
		padding-left: 0px;
		padding-right: 30px;
	}
	
	.detail-block img {
		padding-bottom: 15px;
		margin-bottom: 0px;
	}
	
	.row:first-of-type {
		padding-top: 40px;
	}
	
	.bottomSpace {
		margin-bottom: 2em;
	}
	
	h1:first-of-type {
		margin-bottom: 0px;
	}
	
	h1:last-of-type {
		margin-bottom: 1em;
	}
	
	/* Hero */
	.intro {
		text-align: center;
		padding: 60px;
	}
	
	.intro img {
		display: inline-block;
		width: 200px;
		height: auto;
		margin-top: 0px;
		margin-bottom: 5px;
	}
	
	.large {
		font-size: 100px;
		line-height: 100px;
		font-weight: 700;
		margin-top: 0.25em;
		text-align: center;
		margin-bottom: 0em;
	}
	
	.medium {
		font-size: 80px;
		text-align: center;
		margin-bottom: 40px;
	}
	
	.intro h1:last-of-type {
		margin-bottom: .4em;
	}

	.intro h2 {
		font-size: 30px;
		line-height: 48px;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.intro p {
		font-size: 24px;
		line-height: 34px;
	}

	.btn {
		margin-top: 20px;
		width: 280px;
	}
	
	.detail-block, .register-block {
		margin-bottom: 0em;
	}
	
	h1 {
		font-size: 48px;
		line-height: 50px;
		margin-bottom: 50px;
		text-align: left;
	}

	h2 {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 1em;
	}
	
	h3 {
		font-size: 24px;
		line-height: 36px;
	}
	
	p {
		font-size: 20px;
		line-height: 38px;
	}
	
	ul {
		font-size: 20px;
		line-height: 38px;
	}
	
	footer ul {
		font-size: 20px;
		line-height: 38px;
	}
	
	.round {
		width: 183px;
		height: 183px;
	}
	
	.col-sm-10 h2 {
		margin-top: 0px;
	}
	
	.footer {
		height: 300px;
	}
	
	.course:first-of-type {
		margin-top: 120px;
	}
	
	.course {
		margin-bottom: 10em;
		position: relative;
		padding: 60px;
	}
	
	.course h2 {
		margin-right: 350px;
	}
	
	.course-top {
		margin-right: 350px;
	}
	
	.extended-description .course-top {
		margin-right: 0px;
	}
	
	.extraSpace {
		margin-bottom: 13em;
	}
	
	.course:last-of-type {
		margin-bottom: 0px;
	}

	.course img {
		display: block;
		position: absolute;
		right: 115px;
		top:-80px;
		z-index: 1;
		width: 15%;
		height: auto;
		min-width: 200px;
		max-width:230px;
	}
	
	.course-instructor {
		margin-top: 60px;
		margin-bottom: 30px;
		padding: 0px;
		text-align: left;
		background-color: #ffffff;
		position: absolute;
		right: 90px;
		top: 100px;
		z-index: 1;
		box-shadow: 10px 10px 5px #999999;
		width: 250px;
	}
	
	.yourEducator {
		display: block;
		padding: 15px;
		padding-left: 30px;
	}
	
	.educatorBio {
		padding: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.educatorBio p {
		font-size: 16px;
		line-height: 24px;
	}
	
	.panel-heading {
		padding: 20px;
	}

	.panel-body {
		padding: 20px;
	}
	
	.register-button-block .btn {
		margin-top: 40px;
	}
	
	.rotate {
		display: block;
		position: relative;
	}
	
	/* Spinning arrow on intro panel */
	#arrow {
		display: inline-block;
		width: 100px;
		min-width: 100px;
		max-width: 100px;
		top: 50px;
	}

/* Text-wrapping around absolute-positioned elements */
@media only screen and (min-width : 1010px) and (max-width: 1036px) {
	.extended-description .course-top {
		margin-right: 350px;
	}
	
	#museum-course .extended-description .course-top {
		margin-right: 0px;
	}
	
	#nutrition-course .extended-description .course-top {
		margin-right: 0px;
	}
	
	#strategy-course .extended-description .course-top {
		margin-right: 0px;
	}
	
	#building .extra-padding {
		margin-right: 350px;
	}
}

@media only screen and (min-width : 1037px) and (max-width: 1049px) {
	#nutrition-course .extended-description .course-top {
		margin-right: 0px;
	}
	
	#building .extra-padding {
		margin-right: 350px;
	}
}

@media only screen and (min-width : 1050px) and (max-width: 1300px) {
	#nutrition-course .extended-description .course-top {
		margin-right: 350px;
	}
	
	#museum-course .extended-description .course-top {
		margin-right: 350px;
	}
	
	#strategy-course .extended-description .course-top {
		margin-right: 350px;
	}
	
	#building .extra-padding {
		margin-right: 350px;
	}
}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {
	#nutrition-course .extended-description .course-top {
		margin-right: 500px;
	}
	
	#strategy .extra-padding {
		margin-right: 0px;
	}
	
	#building .extra-padding {
		margin-right: 500px;
	}
}

@media only screen and (min-width: 1501px) {
	#nutrition-course .extended-description .course-top {
		margin-right: 500px;
	}
	
	#strategy .extra-padding {
		margin-right: 500px;
	}
	
	#building .extra-padding {
		margin-right: 500px;
	}
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		margin-bottom: 400px;
		margin-top: 100px;
	}
	
	footer {
		height: 400px;
	}
}

@media only screen and (min-width: 1301px) {
	.course h2 {
		margin-right: 400px;
	}
	
	.course-top {
		margin-right: 500px;
	}
	
	.extended-description .course-top {
		margin-right: 500px;
	}

	.course img {
		right: 180px;
		top:-80px;
	}
	
	.course-instructor {
		right: 90px;
		top: 130px;
		width: 400px;
	}
}

@media only screen and (min-width:1900px) {	
	.course:first-of-type {
		margin-top: 100px;
	}
	
	.intro h2 {
		margin-left: 280px;
		margin-right: 280px;
	}
}

@media print {
}
